* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Minecraftia';
  src: url(/src/assets/Minecraftia.ttf);
}

@font-face {
  font-family: 'Dogica';
  src: url(/src/assets/dogicabold.otf);
}

main {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Minecraftia';
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

#calculator {
  background-image: url(/src/assets/calculator_nobtns.png);
  height: 365px;
  width: 280px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

input {
  text-align: right;
  position: absolute;
  right: 26px;
  top: 1.7rem;
  width: 225px;
  background-color: transparent;
  font-family: 'Dogica';
  border: none;
  color: #82649c;
  padding: 0 10px;
  height: 75px;

  &::placeholder {
    color: inherit;
    text-align: center;
  }

  &:focus-within {
    border-radius: 15px;
  }
}

#calculator button {
  background-image: url(/src/assets/button.png);
  border: none;
  width: 59px;
  height: 68px;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #82649c;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 119px;
}

.row {
  position: relative;
  display: flex;
  gap: 6px;

  &:first-of-type {
    top: -5px;
  }

  &:nth-of-type(2) {
    top: -21px;
  }

  &:nth-of-type(3) {
    top: -37px;
  }

  &:nth-of-type(4) {
    top: -53px;
  }
}
